name: Search CI

on:
  push:
    branches:
      - main
      - 'stable/**'

  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - uses: pre-commit/action@v3.0.1

  test-sqlite:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.9'
            django: 'Django>=4.2,<5'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
      - name: Test
        run: python testmanage.py test

  test-postgres:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.11'
            django: 'Django>=5.1,<5.2'
            postgres: 'postgres:15'
            psycopg: 'psycopg>=3.2.9'

    services:
      postgres:
        image: ${{ matrix.postgres || 'postgres:12' }}
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install "${{ matrix.psycopg }}"
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
      - name: Test
        run: python testmanage.py test
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/wagtailsearch

  test-mysql:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.10'
            django: 'Django>=5.2,<5.3'
            mysql: 'mysql:8.4'
          - python: '3.12'
            django: 'Django>=5.2,<5.3'
            mysql: 'mariadb:11.4'

    services:
      mysql:
        image: ${{ matrix.mysql || 'mysql:8.0' }}
        env:
          MARIADB_ROOT_PASSWORD: root
          MYSQL_ROOT_PASSWORD: root
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: wagtailsearch
          HEALTH_CMD: ${{ startsWith(matrix.mysql, 'mariadb') && 'healthcheck.sh --connect --innodb_initialized' || 'mysqladmin --protocol=tcp ping' }}
        ports:
          - 3306:3306
        options: --health-cmd=$HEALTH_CMD --health-interval=10s --health-timeout=5s --health-retries=3 --cap-add=sys_nice

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install mysqlclient
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
      - name: Test
        run: python testmanage.py test
        env:
          DATABASE_URL: mysql://root:root@127.0.0.1:3306/wagtailsearch


  test-sqlite-elasticsearch8:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.13'
            django: 'Django>=5.2,<5.3'
    steps:
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: getong/elasticsearch-action@v1.3
        with:
          elasticsearch version: 8.8.0
          host port: 9200
          container port: 9200
          host node port: 9300
          node port: 9300
          discovery type: 'single-node'
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
          pip install "elasticsearch>=8,<9"
          pip install certifi
      - name: Test
        run: python testmanage.py test
        env:
          ELASTICSEARCH_URL: http://localhost:9200
          ELASTICSEARCH_VERSION: 8

  test-postgres-elasticsearch7:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.10'
            django: 'Django>=4.2,<4.3'

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.6.1
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install "psycopg2>=2.6"
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
          pip install "elasticsearch>=7,<8"
          pip install certifi
      - name: Test
        run: python testmanage.py test
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/wagtailsearch
          ELASTICSEARCH_URL: http://localhost:9200
          ELASTICSEARCH_VERSION: 7

  test-sqlite-opensearch2:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        include:
          - python: '3.10'
            django: 'Django>=5.1,<5.2'

    steps:
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: ankane/setup-opensearch@v1
        with:
          opensearch-version: 2
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[ci]
          pip install "${{ matrix.django }}"
          pip install "elasticsearch==7.13.4"
          pip install certifi
      - name: Test
        run: python testmanage.py test
        env:
          ELASTICSEARCH_URL: http://localhost:9200
          ELASTICSEARCH_VERSION: 7
